<?xml version="1.0" encoding="UTF-8"?>
<testsuites disabled="0" errors="0" failures="0" tests="1" time="0">
<testsuite disabled="0" errors="0" failures="0" name="config" skipped="0" tests="1" time="0">
<properties>
<property name="os" value="posix"/>
</properties>
<testcase classname="config" name="default" status="PASS" time="0">
<system-out>SBY 10:59:33 [config] Removing directory 'config'.
SBY 10:59:33 [config] Copy './sign_extend.v' to 'config/src/sign_extend.v'.
SBY 10:59:33 [config] engine_0: smtbmc boolector
SBY 10:59:33 [config] base: starting process &quot;cd config/src; /nix/store/y4qxzapi73hszjabd2wb1hs3c47v4b05-yosys-2020.07.07/bin/yosys -ql ../model/design.log ../model/design.ys&quot;
SBY 10:59:33 [config] base: finished (returncode=0)
SBY 10:59:33 [config] smt2: starting process &quot;cd config/model; /nix/store/y4qxzapi73hszjabd2wb1hs3c47v4b05-yosys-2020.07.07/bin/yosys -ql design_smt2.log design_smt2.ys&quot;
SBY 10:59:33 [config] smt2: finished (returncode=0)
SBY 10:59:33 [config] engine_0.basecase: starting process &quot;cd config; /nix/store/y4qxzapi73hszjabd2wb1hs3c47v4b05-yosys-2020.07.07/bin/yosys-smtbmc -s boolector --presat --unroll --noprogress -t 64  --append 0 --dump-vcd engine_0/trace.vcd --dump-vlogtb engine_0/trace_tb.v --dump-smtc engine_0/trace.smtc model/design_smt2.smt2&quot;
SBY 10:59:33 [config] engine_0.induction: starting process &quot;cd config; /nix/store/y4qxzapi73hszjabd2wb1hs3c47v4b05-yosys-2020.07.07/bin/yosys-smtbmc -s boolector --presat --unroll -i --noprogress -t 64  --append 0 --dump-vcd engine_0/trace_induct.vcd --dump-vlogtb engine_0/trace_induct_tb.v --dump-smtc engine_0/trace_induct.smtc model/design_smt2.smt2&quot;
SBY 10:59:33 [config] engine_0.basecase: ##   0:00:00  Solver: boolector
SBY 10:59:33 [config] engine_0.induction: ##   0:00:00  Solver: boolector
SBY 10:59:33 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 0..
SBY 10:59:33 [config] engine_0.induction: ##   0:00:00  Trying induction in step 64..
SBY 10:59:33 [config] engine_0.induction: ##   0:00:00  Temporal induction successful.
SBY 10:59:33 [config] engine_0.induction: ##   0:00:00  Status: passed
SBY 10:59:33 [config] engine_0.induction: finished (returncode=0)
SBY 10:59:33 [config] engine_0: Status returned by engine for induction: pass
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 0..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 1..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 1..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 2..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 2..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 3..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 3..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 4..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 4..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 5..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 5..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 6..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 6..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 7..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 7..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 8..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 8..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 9..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 9..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 10..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 10..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 11..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 11..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 12..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 12..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 13..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 13..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 14..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 14..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 15..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 15..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 16..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 16..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 17..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 17..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 18..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 18..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 19..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 19..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 20..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 20..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 21..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 21..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 22..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 22..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 23..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 23..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 24..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 24..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 25..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 25..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 26..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 26..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 27..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 27..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 28..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 28..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 29..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 29..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 30..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 30..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 31..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 31..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 32..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 32..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 33..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 33..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 34..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 34..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 35..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 35..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 36..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 36..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 37..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 37..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 38..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 38..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 39..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 39..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 40..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 40..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 41..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 41..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 42..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 42..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 43..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 43..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 44..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 44..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 45..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 45..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 46..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 46..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 47..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 47..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 48..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 48..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 49..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 49..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 50..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 50..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 51..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 51..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 52..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 52..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 53..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 53..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 54..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 54..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 55..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 55..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 56..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 56..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 57..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 57..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 58..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 58..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 59..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 59..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 60..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 60..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 61..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 61..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 62..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 62..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assumptions in step 63..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Checking assertions in step 63..
SBY 10:59:34 [config] engine_0.basecase: ##   0:00:00  Status: passed
SBY 10:59:34 [config] engine_0.basecase: finished (returncode=0)
SBY 10:59:34 [config] engine_0: Status returned by engine for basecase: pass
SBY 10:59:34 [config] summary: Elapsed clock time [H:MM:SS (secs)]: 0:00:00 (0)
SBY 10:59:34 [config] summary: Elapsed process time [H:MM:SS (secs)]: 0:00:00 (0)
SBY 10:59:34 [config] summary: engine_0 (smtbmc boolector) returned pass for induction
SBY 10:59:34 [config] summary: engine_0 (smtbmc boolector) returned pass for basecase
SBY 10:59:34 [config] summary: successful proof by k-induction.
SBY 10:59:34 [config] DONE (PASS, rc=0)
</system-out></testcase></testsuite></testsuites>
